*{
    background-color: rgb(125, 172, 199);
}
.div1{
    color: rgb(68, 25, 4);
    text-align: center;
    text-shadow:2px 2px rgb(224, 224, 87) ;
}
.div2{
   
    color: rgb(68, 25, 4);
    text-align: center;
      
}
.div3{
    height: 100px;
    width: 1500px;
    margin: auto;
    color: rgb(79, 31, 7);
    text-align: justify;  
    margin-left: 10px;  
    margin-right: 20px; 
}
.div4{   
    
}
.div5{
    color: rgb(79, 31, 7);
    margin-left: 10px; 
}

.div6{
    color: rgb(79, 31, 7);
    text-align: justify;
    padding-left: 200px;
    margin-right: 100px;  
} 
.div8{
    color: rgb(79, 31, 7);
    text-align: justify;
    padding-left: 200px;
    margin-right: 100px; 
}  
.div10{
    color: rgb(79, 31, 7);
    text-align: justify;
    padding-left: 200px;
    margin-right: 100px;  
}
.div11{
    color: rgb(79, 31, 7);
    text-align: justify;  
    margin-left: 10px;  
    margin-right: 20px;  
}
